body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

.link {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.title_h1 {
    color: #222222;
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
}

.par {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.title_h2 {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}
/*-----------Header--------------*/
header {
    background-color: rgb(54, 43, 43);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    justify-content: center;
}

nav ul li a {
    padding: 5px 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #808080;
}

/*-------Main page-------*/

.main_page {
    display: flex;
    justify-content: center;
}

.par_1 {
    display: flex;
    justify-content: center;
    padding-left: 210px;
    padding-right: 210px;
    text-align: justify;
}


/*--------------GOODS----------------*/

.goods {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    column-gap: 60px;
}

.good {
    text-align: center;
    max-width: 300px;
}

.good img {
    width: 300px;
    height: 300px;
}

.good p {
    text-align: justify;
}